:root {
    --c-background: #F7F0F0;
    --c-on-background: #212121;
    --c-primary: #BC002D;
    --c-on-primary: #F7F0F0;
    --c-secondary: #FB6589;
}

app-root {
    display: flex;
    flex-direction: column;
}

app-footer {
    margin-top: auto;
}