<section class="form-wrapper">
    <h2>Inscription</h2>
        
    <form action="submit.php" method="post">
        <label for="email">Email:
            <input type="email" id="email" name="email" placeholder="prenom.nom@gmail.com" required>
        </label>
        
        <label for="password">Mot de passe:
            <input type="password" id="password" name="password" placeholder="Mot de passe" required>
        </label>
        
        <label for="confirm_password">Confirmer le mot de passe:
            <input type="password" id="confirm_password" name="confirm_password" placeholder="Mot de passe" required>
        </label>
        
        <input class="submit-button" type="submit" value="S'inscrire">
    </form>
</section>