<div>
    <h1>
        Bienvenue.
    </h1>
    <img src="../../assets/Julien-Fontanier-photo.jpg" alt="Photo de Julien Fontanier.">
    <p>
        Je suis Julien Fontanier, professeur de Japonais. Je propose sur Youtube des cours gratuits ainsi que des exercices pour ceux d'entre vous qui seraient intéressés par la langue.
    </p>
    <p>
        Je vous propose aujourd'hui ce site qui regroupe mes différents cours et exercices, qui s'axent sur la compréhension profonde de la langue japonaise et de son fonctionnement. J'espère ainsi faciliter pour vous le suivi de votre progression ainsi que vous offrir plus de confort et de variété dans les exercices proposés.
        J'espère donc que ce site vous plaira, et vous souhaite un bon apprentissage, à votre rythme.
    </p>
</div>