<section class="form-wrapper">
    <h2>Connexion</h2>
        
    <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit()">
        <label for="email">Email:
            <input type="email" id="email" name="email" placeholder="prenom.nom@gmail.com" formControlName="email" required>
        </label>
        
        <label for="password">Mot de passe:
            <input type="password" id="password" name="password" placeholder="Mot de passe" formControlName="password" required>
        </label>
        
        <input class="submit-button" type="submit" value="Se connecter">
    </form>
</section>