header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--c-primary);
}

.navbar navbar-light {
    width: 95%;
}

.container {
    width: 100%;
}

.navbar-brand {
    align-self: flex-start;
}